.Modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #1F1F1F;
    opacity: 0.9;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}